.productDiv{
    border:1px solid black;
    padding: auto;
    margin:10px;
}

.radioButtons{
    margin-top: 20px;
}

.shareRequests{
    float: right;
    cursor: pointer;
    top:5px;
}

.priceDetails{
    margin-top:15px;
}

.buyNowButton{
    height: 40px;
    width: 150px;
    padding: 3px;
    background-color: lightblue;
    color:black;
    margin: 5px;
}

.itemImage{
    height: 500px;
    width: 500px;
    margin-top: 10px;
}