.productDiv{
    border:1px solid black;
    padding: auto;
    margin:10px;
}

.radioButtons{
    margin-top: 20px;
}

.shareRequests{
    float: right;
    cursor: pointer;
    top:5px;
}

.priceDetails{
    margin-top:15px;
}