.boldFont{

    font-weight: 5px;
    font-family: sans-serif;
    font-size: 16px;
}

.resizeImage{

    height: 150px;
    width:150px;
}

.buyNowButton{
    height: 40px;
    width: 150px;
    padding: 3px;
    background-color:cadetblue;
    color:black;

}

.ownPurchase{
    background-color: lightgrey;
    margin: 5px;
}

.sharePurchase{
    background-color: lightgrey;
    margin: 5px;
}